<!doctype html>
<html>
  <head>
    <title>My Friends!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>My Friends</h1>
      <ul>
      <% people.forEach(function(person){ %>
          <li><a href="/people/<%= person.id %>"><%= person.firstname%> <%= person.lastname%></a></li>
        <% }) %>
      </ul>
      <a href="/people/new" class="nav-button">Add new person &raquo;</a>
    </div>
  </body>
</html>